[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium(无sandbox)
Comment=访问互联网
Exec=chromium --no-sandbox
Icon=chromium
Path=
Terminal=false
StartupNotify=true
